# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
coverage/

# Angular
.angular/
.vscode/
*.tsbuildinfo

# Environment files
.env
.env.*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db